<% binding.pry %>
<h1><%= @user.username %>'s Profile</h1>

<div class="row">
  <div class="columns small-4">

    <ul class="menu vertical">
      <%= link_to 'Edit Profile', edit_user_path(@user), class: "button" %></br>
      <%= link_to "Delete Account", user_registration_path, :method => :delete, class: "button"%>
      <li><strong>Email: </strong><%= @user.email %></li>
      <li>
        <% if @user.avatar_url %>
          <img src="<%= @user.avatar_url %>" />
        <% else %>
          <img src="http://rs732.pbsrc.com/albums/ww327/NinjaPie101/Missingno_Sprite1947934836-iaza.gif~c200" %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="columns small-4">
    <p>Matches</p>
  </div>
  <div class="columns small-4">
    <p>Placeholder for Data Visualization
  </div>
</div>
