<h1><%= @user.username %>'s Profile</h1>

<div class="row" id="gallery">
  <div class="columns small-3">
    <ul class="menu vertical">
      <%= link_to 'Edit Profile', edit_user_path(@user), class: "button" %>
      <%= link_to "Delete Account", user_registration_path, :method => :delete, class: "button"%>
      <li><strong><span style="font-size:200%">Profile Settings</span></strong></li>
      <li><strong>Email: </strong><%= @user.email %></li>
      <li><strong>Avatar:</strong></li>
      <li>
        <% if !@user.avatar_url.nil? && !@user.avatar_url.empty? %>
          <img src="<%= @user.avatar_url %>" />
        <% else %>
          <img src="http://rs732.pbsrc.com/albums/ww327/NinjaPie101/Missingno_Sprite1947934836-iaza.gif~c200" %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="columns small-9">
    <% i = 0 %>
    <% while i < @matches.length do %>
      <div class="row text-center">
        <% if @matches[i] %>
          <div class="small-12 large-4 columns">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img src= '<%=@matches[i].image_url%>'/>
                </div>
                <div class='back'>
                  <p class='poke-p'><strong><%= @matches[i].name %></strong></p>
                  <p><span class='poke-h'>Weight:</span><span><class='poke-p'><%= @matches[i].weight %></p>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div style="height:1em;"></div>
        <% end %>
        <% if @matches[i+1] %>
          <div class="small-12 large-4 columns">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img src='<%=@matches[i+1].image_url%>'/>
                </div>
                <div class='back'>
                  <p class='poke-p'><strong><%= @matches[i+1].name %></strong></p>
                  <p><span class='poke-h'>Weight:</span><span><class='poke-p'><%= @matches[i+1].weight %></p>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div style="height:1em"></div>
        <% end %>
        <% if @matches[i+2] %>
          <div class="small-12 large-4 columns">
            <div class="card">
              <div class="content">
                <div class="front">
                  <img src= '<%=@matches[i+2].image_url%>' width='200';
                    height='200';/>
                </div>
                <div class='back'>
                  <p class='poke-p'><strong><%= @matches[i+1].name %></strong></p>
                  <p><span class='poke-h'>Weight:</span><span><class='poke-p'><%= @matches[i+1].weight %></p>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div style="height:1em"></div>
        <% end %>
      </div>
      <% i += 3 %>
    <% end %>
  </div>
</div>
