<h1><%= @user.username %>'s Profile</h1>

<div class="row">
  <div class="columns small-1">

    <ul class="menu vertical">
      <%= link_to 'Edit Profile', edit_user_path(@user), class: "button" %></br>
      <%= link_to "Delete Account", user_registration_path, :method => :delete, class: "button"%>
      <li><strong>Email: </strong><%= @user.email %></li>
      <li>
        <% if @user.avatar_url %>
          <img src="<%= @user.avatar_url %>" />
        <% else %>
          <img src="http://rs732.pbsrc.com/albums/ww327/NinjaPie101/Missingno_Sprite1947934836-iaza.gif~c200" %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="columns small-11">
    <% i = 0 %>
    <% while i < @matches.length do %>

      <div class="row text-center">
        <div class="small-12 large-4 columns">
          <div class="card">exit
            <div class="content">
              <div class="front">
                <img src= '<%=@matches[i].image_url%>' height='200' width='200'/>

              </div>
              <div class='back'>
                <h1 class='poke-h'> Name: </h1>
                <p class='poke-p'><br /> <%= @matches[i].name %></p>
                <h2 class='poke-h'><br /> Weight:</h2>
                <p class= 'poke-p'><br /> <%= @matches[i].weight %></p>

              </div>
            </div>
          </div>
        </div>
        <div class="small-12 large-4 columns">
          <% if @matches[i+1] %>

            <%= link_to image_tag(@matches[i+1].image_url, :alt => @matches[i+1].name, :class => "thumbnail"), user_path(@user) %>
          <% end %>
        </div>
        <div class="small-12 large-4 columns">
          <% if @matches[i+2] %>

            <%= link_to image_tag(@matches[i+2].image_url, :alt => @matches[i+2].name, :class => "thumbnail"), user_path(@user) %>
          <% end %>
        </div>
      </div>
      <% i += 3 %>
    <% end %>
  </div>
