<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div data-sticky-container>
      <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-text">
                <span style="font: 400 2.0em/100% 'Satisfy', Helvetica, Sans-serif;">
                  <%= link_to "Mew Meets You", root_path %>
                </span>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu sign-up">
              <% if user_signed_in? %>
                <li>
                  <%= link_to current_user.username, user_path(current_user) %>
                  </li>
                <li>
                  <%= link_to "Sign Out",
                    destroy_user_session_path, method: :delete, class:"button"
                  %>
                </li>
              <% else %>
                <li> <%= link_to "Sign In", new_user_session_path, class:"button" %> </li>
                <li> <%= link_to "Sign Up", new_user_registration_path, class:"button" %> </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
